:root {
	--primary: #ff3838;
	--secondary: #fff200;
}
/**** Reset Css ****/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/**** Fonts ****/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap);
body {
	font-family: Roboto;
}

/**** Base Style ****/
*, body {
	box-sizing: border-box;
}
.container {
	max-width:1200px;
	margin:0 auto
}
.container-h {
	max-width:1200px;
	margin:0 auto;
	height: 100%;
}
/**** Mobile ****/
.site-header_top {
	height: 50px;
	background: linear-gradient(60deg, var(--primary), var(--secondary));
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.grid-wrap {
	display:grid;
	grid-template-columns: 2fr 8fr 2fr;
	grid-gap: 5px;
	height: 100%;
}

.lotoimg {
	max-width: 100%;
}

.site-header_top_date, .site-header_top_rolling  {
	display: none;
}
.site-header_top_logo {
	display: flex;
}
.humburger, .site-header_top_logo, .quay-mobile {
	display: flex;
	align-items: center;
	justify-content: center;
}
.humburger {
	background: red
}
.humbuget-btn {
	position: relative;
    width: 22px;
    background: #FFF;
	height: 3px;
	cursor: pointer;
}
.humbuget-btn:after {
    position: absolute;
    content: '';
    background: #FFF;
    width: 22px;
    top: -8px;
    left: 0;
    height: 3px;
}
.humbuget-btn:before {
    position: absolute;
    content: '';
    background: #FFF;
    width: 22px;
    bottom: -8px;
    left: 0;
    height: 3px;
}
.site-header_top_logo img{
	display: block;
	width: 75%;
}
.quay-mobile {
	text-align: center;
    color: #f00;
    font-weight: bold;
    border-left: 2px solid #fff;
}
/**** Small & Table Style ****/

@media screen and (min-width: 620px) {

}

/**** Larger Tablets & Laptop Style ****/

@media screen and (min-width: 960px) {

}

/**** Desktop Style ****/

@media screen and (min-width: 1200px) {

}